{erl_opts, [no_debug_info]}.
{deps, [
    {cecho, {git, "git@github.com:mazenharake/cecho.git", {tag, "0.5.3"}}}
    ]}.

{escript_incl_apps,
 [erlkeychain]}.
{escript_main_app, erlkeychain}.
{escript_name, erlkeychain}.
%{escript_emu_args, "%%! +sbtu +A1\n"}.
{escript_emu_args, "%%! -noinput +A 50"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
